$text-color: #fff;
$bg-color: #4B9F6B;
$button-color: #2dc166b7;
$arrow-color: #fff;

.texts{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    background: $bg-color;
    height: 85vh;   

    h1{
        font-size:64px;
        color: $text-color;
        text-align: center;
        font-weight: 500;
    }

    h2{
        font-size: 36px;
        color: $text-color;
        text-align: center;
        font-weight: 300;
        padding-bottom: 100px;
    }

    button{
        width: 15rem;
        height: 4rem;
        border: none;
        border-radius: 30px;
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: $button-color;
        box-shadow: -2px 5px 8px;
        cursor:pointer;

        //hover + active + focus değişiklikleri eklenecek, + animasyon (ok tıklandığında açılabilir).

        *{
            margin-right: 1rem;
        }

        .fa-arrow-alt-circle-right{
            color: $arrow-color;
        }

        span{
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: $text-color;
        }
    }
}