$bg-color: #0a2923c9;
$bg-color2: #beded8c9;
$font-color: white;
$btn-color: rgba(0, 0, 0, 0.466);

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.IndexContainer {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .firstContainer {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    background: $bg-color;
    backdrop-filter: blur(20px);
    color: $font-color;
    border-radius: 15px;
    padding: 4rem 4rem 2rem 4rem;
  }

  .secondContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -3rem;
    padding: 2rem 0 1rem 0;
    border-radius: 0 0 15px 15px;
    background: $bg-color2;
  }

  h1 {
    margin: 0;
  }

  h3 {
    color: white;
  }
  p {
    padding: 1rem 0 0 0;
  }

  button {
    width: 7rem;
    height: 3rem;
    margin: 3rem 0 0 0;
    border-radius: 10px;
    border: none;
    background: $btn-color;
    transition: all 200ms ease-out;
    outline: none;
    cursor: pointer;

    &:hover {
      width: 10rem;
      border: 1px solid rgba(0, 0, 0, 0.521);
      border-radius: 15px;
    }

    //animasyonlar eklenecek, buton gölgelendir. active de boyut küçülecek(basma hissiyatı eklenecek)

    span {
      font-family: "Montserrat", sans-serif;
      color: $font-color;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
