$bg-color:linear-gradient(157.61deg, rgba(0, 0, 0, 0.8) 14.53%, rgba(0, 0, 0, 0.3) 89.08%);
$bg-color2: linear-gradient(157.61deg, rgba(255, 255, 255, 0.8) 14.53%, rgba(255, 255, 255, 0.3) 89.08%);
$font-color: white;
$btn-color: rgba(0, 0, 0, 0.466);
$btn-color2: rgba(56, 56, 56, 0.466);

.question-container{
    display:flex;
    flex-direction: column;

    .question{
        display:flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        background: $bg-color;
        backdrop-filter: blur(20px);
        color: $font-color;
        border-radius: 40px;
        padding: 4rem 4rem 2rem 4rem;
    }

    .option{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -3rem;
        padding: 5rem 0 2rem 0;
        border-radius: 0 0 30px 30px;
        background: $bg-color2;

        
        button{
            width: 3rem;
            height: 3rem;
            margin: 0px 30px 0px 10px;
            border-radius: 50%;
            border:none;
            background: $btn-color;
            color: $font-color;
            transition: all 1s;

            &:hover{
                width: 5rem;
                border-radius: 40px;
                margin-top: 1rem;
                background: black;
            }
        }
    }
}