$index-bg: #865858;
$bg-color: #beded8c9;

body {
  margin: 0;
}

.QuestionArea {
  background: $bg-color;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results {
  display: flex;
  flex-direction: row-reverse;
}
